// Colors

// Primary
$strong-cyan: hsl(172, 67%, 45%);

// Neutral
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$dark-grayish-cyan: hsl(184, 14%, 56%);
$lighter-grayish-cyan: hsl(185, 41%, 84%);
$light-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

body {
    background-color: $lighter-grayish-cyan;
    font-family: 'Space Mono', monospace;
}


.attribution {
    bottom: 0;
    font-size: 0.6875rem;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100vw;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {
    margin: 5rem auto 0 auto;
    // width: 60vw;
}

.container h1 {
    text-align: center;
}

.panel-container {
    background-color: $white;
    border-radius: 1.5625rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100vw;
}

.panel-subtotal {
    background-color: $very-dark-cyan;
    border-radius: 1rem;
}
