// Colors

// Primary
$strong-cyan: hsl(172, 67%, 45%);

// Neutral
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$dark-grayish-cyan: hsl(184, 14%, 56%);
$lighter-grayish-cyan: hsl(185, 41%, 84%);
$light-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

body {
    font-family: 'Space Mono', monospace;
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}